/* Galéria tároló stílusa */
.gallery-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Kép konténerek stílusa */
.image-container {
    display: flex;
    overflow: hidden; /* Tiltjuk a görgést */
    width: 100%; /* Teljes szélesség */
    scroll-behavior: smooth; /* Sima görgetés */
}

.image-container img {
    width: 100%; /* Minden kép teljes szélességű legyen */
    height: auto;
    margin-right: 10px;
    flex: 0 0 100%; /* Minden kép teljes szélességű legyen */
}

/* Nyil gombok stílusa */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10; /* Nyilak mindig felül legyenek */
}

.arrow.left {
    left: 10px; /* Bal oldali nyil fix pozíciója */
}

.arrow.right {
    right: 10px; /* Jobb oldali nyil fix pozíciója */
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
